<section
  class="collaboration-area collaboration-area-v2 pt-148 pb-108 border-top"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div
          class="app-preview-image text-center text-lg-left content-right-spacer oval-gradient animate-float-bob-x wow fadeInDown"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <img src="assets/img/app/timei2aspo.jpg" alt="about section" />
        </div>
      </div>
      <div class="col-lg-5">
        <div class="section-title section-title-mirage">
          <div class="section-heading-tag">
            <span class="single-heading-tag">Venue I2aspo</span>
          </div>
          <div
            class="app-preview-image text-center text-lg-left content-right-spacer oval-gradient animate-float-bob-x wow fadeInDown"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <img src="assets/img/app/venuei2aspo.jpg" alt="about section" />
          </div>    
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
